* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    background-color: #faf9fc;
}

input:focus,
textarea:focus {
    outline: 0;
}

.clear {
    clear: both;
}

.logo {
    background-color: #26282d;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 100%;
    max-width: 150px;
    text-align: center;
    margin-left: 50px;
}

.menu {
    height: 100%;
    background-color: #2d3035;
    width: 250px;
    float: left;
    position: relative;
}

.menu i {
    margin-right: 20px;
}

.menu ul {
    list-style-type: none;
}

.menu :where(ul li, .exit) {
    padding: 0 25px;
    margin: 30px 0;
}

.menu :where(ul li a, .exit) {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #717171;
}

.menu ul li a {
    text-decoration: none;
}

.menu :where(ul li a, .exit):hover {
    transition: 250ms ease-in;
    color: #ffffff;
}

.menu .selected {
    color: #ffffff;
}

.menu .selected i {
    color: #7f41d9;
}

.exit {
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.main-content {
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    background-color: #ffffff;
}

.main-content header {
    padding: 15px 0;
    float: right;
    margin-right: 120px;
}

.main-content ul {
    list-style-type: none;
}

.main-content ul li {
    float: left;
    margin: 0 15px;
}

.main-content ul li a {
    color: #a8a8a8;
    text-decoration: none;
    position: relative;
    top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
    font-size: 14px;
}

.main-content ul li a:hover {
    color: #717171;
}

.main-content ul li i {
    background-color: #d6d6d6;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

.main-content ul li i:hover,
.wrapper .ticket a:hover {
    background-color: #717171;
}

.main-content ul li .bell {
    background-color: #fbedef;
    color: #ed7387;
}

.main-content ul li .bell:hover {
    background-color: #ed7387;
    color: #fbedef;
}

.main-content :where(ul li a, ul li i, ul li .bell) {
    transition: 250ms ease-in;
}

.middle {
    width: 70%;
    float: left;
    background-color: #FAF9FC;
}

.box, .tasks, .wrapper {
    margin: 15px 0;
}

.box, .tasks, .notes, .ticket {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.right-side {
    width: 30%;
    float: left;
    background-color: #EAEBEB;
    overflow-y: auto;
}

.middle,
.right-side {
    overflow-y: auto;
    padding: 10px 25px;
    height: calc(100% - 70px);
    border-top: 1px solid #ccc;
}

.wrapper {
    display: flex;
}

.wrapper .notes {
    margin-right: 7px;
}

.wrapper .ticket {
    margin-left: 7px;
}

.wrapper :where(.notes, .ticket) {
    width: 50%;
}

.middle h3 {
    margin-bottom: 10px;
    color: #7F7F7F;
}

.middle p {
    color: #B2B2B2;
}

.middle b {
    text-decoration: underline;
}

.tasks .box-text {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tasks .box-text p {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 5px 5px 0;
    padding: 2px 5px;
    background-color: #D7D7D7;
    border-radius: 20px;
    color: white;
}

.wrapper .notes input,
.wrapper .notes textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid #ccc;
    resize: none;
    padding: 8px 13px;
}

.wrapper .notes input::placeholder,
.wrapper .notes textarea::placeholder {
    color: #B2B2B2;
}

.wrapper .notes textarea {
    height: 80px;
}

.wrapper .ticket a {
    background-color: #D7D7D7;
    padding: 10px 15px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
    position: relative;
    top: 30px;
    cursor: pointer;
    transition: 250ms ease-in;
}

.wrapper .ticket b {
    cursor: pointer;
}

.right-side h2:not(.register h2) {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 10px;
    color: #7F7F7F;
    font-size: 16px;
    text-transform: uppercase;
}

.right-side .register {
    position: relative;
	padding:15px 10px;
	border-left: 1px solid #BBBBBB;
}

.right-side .circle-atv {
    position: absolute;
	left: -10px;
    top: -5px;
	width: 20px;
	height:20px;
	border-radius: 10px;
	background: #E9EBEB;
	border: 1px solid #CCCCCC;
}

.register h2 {
    color: #BCBCBC;
}

.register h3 {
    color: #7F7F7F;
}

.register :where(h2,h3) {
    font-size: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.register :where(h2, h3, p) {
    position: relative;
    bottom: 20px;
    margin-left: 10px;
}

@media screen and (max-width: 1130px) {
    .main-content header {
        float: right;
        margin-right: 0;
    }

    .main-content [href="#"] {
        display: none;
    }

    .main-content nav ul li [class] {
        float: none;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    .wrapper .notes {
        margin-right: 0;
    }
    
    .wrapper .ticket {
        margin-left: 0;
        min-height: 180px;
    }
    
    .wrapper :where(.notes, .ticket) {
        width: 100%;
        margin: 7px 0;
    }
}

@media screen and (max-width: 860px) {
    .middle {
        width: 100%;
        float: left;
    }
    
    .right-side {
        display: none;
    }
}
